// 1050px================================================
// Header-------------------------

@media (max-width:1200px) {
    .testimonials__arrow-next.swiper-button-next {
        width: 22px;
        height: 22px;
        top: 98%;
        right: 2%;
        z-index: 11;
    }

    .testimonials__arrow-prev.swiper-button-prev {
        width: 22px;
        height: 22px;
        top: 98%;
        right: 2%;
        z-index: 11;
    }

    .tariff {
        &__list {
            row-gap: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
        }

        &__item {
            flex: 1 0 40%;
        }
    }

    .tariff {
        &__item-oldprice {
            &::after {
                left: 43%;
            }
        }
    }

    .tariff__tooltip-text {
        min-width: 300px;
        top: 160%;
        left: 104%;

        &::after {
            left: 46%;
        }
    }

    .tariff__tooltip-text--license {
        left: 32%;
        top: 160%;
        transform: translateX(-50%);


        &::after {
            left: 94%;
        }
    }

    .options {
        &__body {
            justify-content: center;
        }

        &__wrapper {
            min-width: 0;
            padding: 3.625rem 2rem 3.625rem 2rem;
            ;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .version__tooltip::before {
        max-width: 320px;
        padding: 16px 13px;
    }

    .version__tooltip--api {
        left: -91%;
    }
}

@media (max-width: 1090px) {
    .header {
        &__nav-item+&__nav-item {
            margin-left: 3.075rem;
        }

        &__background {
            background: url('../image/img/bg.jpg') 76% 7%/ cover no-repeat;
            min-height: 80rem;

        }

        &__top::after {
            width: 73%;
        }
    }

    .hero {
        &__title {
            margin-top: 11px;
        }

        &__text {
            font-size: 24px;
            background: url('../image/svg/review__logo.svg') 78% 95%/40% 39% no-repeat;

        }

        &__body {
            margin-top: 35px;
        }

        &__inner {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        & img {
            width: 60%;
        }

        &__raiting {
            background-color: #fff;
            padding: 10px 10px;
            max-width: 122px;
            border-radius: 5px;
            margin-bottom: 0;
        }

        &__raiting-item {
            margin-right: 0;
        }

        &__buttons {
            margin-top: 65px;
        }
    }

    .info {
        margin-top: -8.1875rem;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.12);
    }

    .promts {
        &__title {
            flex: 1 0 50%;
            margin-right: 15px;

            &::after {
                display: none;
            }
        }

        &__img {
            width: 100%;
            object-fit: cover;
        }
    }

    .testimonials__sliders {
        padding: 21px 59px 38px;
    }

}


// 930px================================================
// Header-------------------------
@media (max-width:930px) {
    .header {
        &__nav-item+&__nav-item {
            margin-left: 1.075rem;
        }

        &__background {
            min-height: 75rem;
        }

    }

    .info {

        margin: -6.1875rem auto 4rem;

        padding: 0;
        padding: 30px;
        max-width: 650px;
        border-radius: 20px;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item:not(:last-child) {
            margin-bottom: 15px;

        }

        &__item:first-child {
            margin-left: -15px;
        }
    }

    .tariff {
        &__item-oldprice {
            &::after {
                left: 40%;
            }
        }
    }

    .settings {
        &__body {
            margin-bottom: 2.25rem;
        }
    }

    .promts {
        &__inner {
            flex-direction: column;
            align-items: stretch;
        }

        &__title {
            text-align: center;
            margin: 0 auto 20px;
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }
    }

    .version__tooltip--standart {
        left: -91%;
    }

    .version__tooltip--api {
        left: -91%;
    }
}

// 850px================================================

@media (max-width:850px) {

    // .button{
    //     max-height: 45px;
    //     line-height: 0;
    // }
    .title {
        font-size: 24px;

        & span {
            font-size: 24px;
        }
    }

    .header {
        &__background {
            min-height: 76rem;
            background: url('../image/img/bg.jpg') 75%/cover no-repeat;


        }

        &__top {
            padding-bottom: 1.5rem;
        }

        &__nav {
            display: none;
        }

        &__nav-telegram {
            display: none;
        }

        &__top::after {
            width: 100%;
        }

        &__logo {
            padding: 13px 0;
        }

        &__burger {
            display: block;
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 19px;
            right: 10px;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            z-index: 100;
            // background-color: #ece7e7;

            & span {
                display: block;
                margin: 4px 11px 4px 0px;
                width: 22px;
                height: 3px;
                background: #10A37F;
                border-radius: 5px;
            }

            &::before {
                content: "";
                display: block;
                width: 33px;
                height: 3px;
                background: #22252E;
                border-radius: 5px;
                transition: all .3s;
            }

            &::after {
                content: "";
                display: block;
                width: 33px;
                height: 3px;
                background: #10A37F;
                border-radius: 5px;
                transition: all .3s;
            }

        }
    }

    .hero {
        & img {
            width: 85%;
        }


    }

    .tariff {
        &__title {
            font-size: 22px;

            & span {
                font-size: 22px;
            }
        }

        &__subtitle {
            font-size: 18px;
            line-height: 30px;

            & span {
                font-size: 16px;
            }
        }

        &__counter-text {
            font-size: 18px;
        }

        &__item {
            flex: 1 0 49%;
        }

        &__tooltip-text--license {
            left: 72%;
            top: 160%;
            transform: translateX(-50%);


            &::after {
                left: 67%;
            }
        }

        &__tooltip-text--license2 {
            left: 62%;
            top: 160%;
            transform: translateX(-50%);


            &::after {
                left: 77%;
            }
        }

        &__item-oldprice {
            &::after {
                left: 45%;
            }
        }
    }

    .demo {
        &__decor {
            background: url("../image/svg/demo-decor9.svg")-39% 107%/50% 50% no-repeat, url("../image/svg/demo-decor8.svg") -12% 115%/27% 45% no-repeat, url("../image/svg/demo-decor6.svg") 121% -10%/45% 40% no-repeat, url("../image/svg/demo-decor7.svg") 122% -34%/37% 45% no-repeat;
        }
    }

    .popular {
        padding: 3.25rem 0;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item-text {
            text-align: center;
        }
    }

    .review {
        padding: 2.37rem;

        &__numbers {
            margin-top: 2.25rem;
        }

        &__numbers-item {
            flex: 1 0 calc(50% - 1.125rem);
        }

        &__numbers-subtitle {
            font-weight: 700;
        }
    }

    .demo {
        &__decor-gradient {
            background:
                url('../image/svg/gradient-9.svg') 0% 194%/24% 73% no-repeat, url('../image/svg/gradient-8.svg') -10% 142%/28% 45% no-repeat, url('../image/svg/gradient-6.svg') 168% -39%/64% 64% no-repeat, url('../image/svg/gradient-7.svg') 109% -51%/20% 61% no-repeat;
        }
    }

    .difference {
        &__background {
            padding: 2.25rem 0 2.25rem;
        }

        &__title {
            margin-bottom: 20px;
        }
    }

    .edge {
        padding: 2.25rem 0;

        &__title {
            font-size: 24px;
            margin-bottom: 5px;
        }

        &__heading {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
        }

        &__logo {
            width: 70px;
        }

        &__decor {
            background: url('../image/svg/rings-bg.svg') top /100% 27% no-repeat;

        }
    }

    .seo {
        padding-bottom: 2.25rem;

        &__tabs-wrapper {
            flex-direction: column-reverse;
        }

        &__tabs {
            margin: 10px 0;
        }

        &__tabs-item {
            max-width: 760px;
        }
    }



    .promts {
        &__title {
            text-align: center;
            margin: 0 auto 20px;
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }
    }

    .use {
        padding-top: 40px;
    }

    .version {
        padding: 40px 0;
    }

    .swiper.testimonials__slider {
        max-height: 327px;
    }

    .testimonials {


        &__name {
            padding: 0 0 8px;
        }

        &__sliders::before {
            width: 31px;
            height: 24px;
        }

        &__sliders::after {
            width: 31px;
            height: 24px;
        }

        &__text {
            line-height: 19px;
        }

        padding-bottom: 40px;

    }

    .footer {
        &__inner {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__logo {
            margin-bottom: 16px;
            order: 1;
        }

        &__questions {
            order: 3;

            & li {
                margin-bottom: 15px;
            }

        }

        &__socials {
            margin-bottom: 46px;
            min-width: 0;
        }
    }
}

@media (max-width:750px) {
    .header {
        &__background {
            min-height: 70rem;

        }

    }

    .hero {
        &__title {
            font-size: 45px;
        }

        &__subtitle {
            font-size: 30px;
            line-height: 2rem;
        }

        &__text {
            font-size: 22px;
            background: url('../image/svg/review__logo.svg') 34% 95%/40% 39% no-repeat;
        }
    }

    .tariff {
        &__item-oldprice {
            &::after {
                left: 43%;
            }
        }

        .options {}

    }

    .options {
        &__body {
            flex-wrap: wrap;
            margin-bottom: 40px;

        }

        &__wrapper {
            width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
            padding: 1.625rem 2rem 1.625rem 2rem;
        }

        &__item {
            margin-right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__item-desc {
            padding-left: 0;
            text-align: center;
        }

        &__item-subtitle {
            font-size: 16px;
        }

        &__item-text {
            font-size: 14px;
        }
    }

    .seo {
        &__title {
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }
    }

    .settings {
        &__wrapper {
            margin-right: 0;
            flex: 1 0 53%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            align-items: flex-start;
            margin-bottom: 20px;
        }



        &__item {
            display: flex;
            margin-bottom: 1rem;
            flex-direction: column;
        }
    }

    .use {
        &__list li::before {
            left: -13%;
        }
    }
    .swiper.testimonials__slider {
        max-height: 390px;

}

@media (max-width:650px) {
    .header {
        &__background {
            min-height: 70rem;
        }
    }

    .hero {
        &__buttons {
            margin-top: 35px;
        }

        &__btn {
            display: block;
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .article {
        &__title {
            font-size: 27px;

            & span {
                font-size: 27px;
            }
        }

        &__subtitle {
            font-size: 15px;

            & span {
                font-size: 15px;
            }
        }

        &__swiper-text {
            font-size: 12px;
        }

    }

    .tariff {
        &__subtitle {
            margin-bottom: 1rem;
        }

        &__counter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__counter-action {
            margin-bottom: 2rem;
        }
    }

    .demo {

        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 16px;
        }
    }

    .popular {
        &__title {
            font-size: 24px;

            & span {
                font-size: 25px;
            }
        }

        &__text {
            font-size: 16px;
        }

        &__item-subtitle {
            font-size: 16px;
        }

        &__item-rext {
            font-size: 14px;
        }
    }

    .review {
        padding: 2.37rem;

        &__title {
            font-size: 24px;
        }

        &__numbers-item {
            flex: 1 0 100%
        }
    }

    .difference {
        &__title {
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }

        &__subtitle {
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .use {
        &__list {
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            counter-reset: nums;
            margin-left: 0;

            & li:not(:last-child) {
                margin-bottom: 75px;
            }
        }

        &__item {
            padding: 22px 17px;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0px 22px 73px 0px rgba(0, 0, 0, 0.06);
            flex-direction: column;
            padding-bottom: 31px;
        }

        &__list li::before {
            position: absolute;
            counter-increment: nums;
            content: counter(nums);
            top: -25%;
            left: 50%;
            font-size: 24px;
            width: 50px;
            height: 50px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width:565px) {
    .header {
        &__background {
            min-height: 65rem;

        }
    }

    .tariff {
        &__inner {
            padding-bottom: 0;
            margin-bottom: 40px;
        }
    }

    .info {
        margin-top: -10.1875rem;
    }

    .hero {
        &__text {
            font-size: 20px;
            line-height: 1.6396rem;
            background: url('../image/svg/review__logo.svg') 22% 101%/40% 39% no-repeat;
        }

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 28px;
        }
    }

    .options {
        &__title {
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }

        &__subtitle {
            font-size: 20px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 40px;
        }

    }

    .review {
        &__numbers-title {
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }
    }

    .demo {
        &__title {
            font-size: 24px;
            max-width: 282px;
        }

        &__btn {
            margin-right: 0;
            display: block;
            margin: 20px auto;
        }

    }

    .version__tooltip::before {
        max-width: 270px;
    }

    .version__tooltip--demo {
        left: -54%;
    }

    .version__tooltip--standart {
        left: -57%;
    }

    .version__tooltip--premium {
        left: -79%;
    }

    .version__tooltip--api {
        left: -91%;
    }

    .testimonials__sliders {
        padding: 22px 28px 38px;
    }

    .swiper.testimonials__slider::before {

        top: 5%;
        left: 2%;
        width: 31px;
        height: 25px;
    }

    .swiper.testimonials__slider::after {

        bottom: 8%;
        right: 4%;
        width: 31px;
        height: 25px;
    }
}

@media (max-width:500px) {
    .header {
        &__background {
            min-height: 62rem;

        }
    }

    .hero {
        &__title {
            font-size: 30px;
            line-height: 30.573px;
        }

        &__text {
            font-size: 18px;

        }
    }

    .info {
        margin-top: -15.1875rem;
    }

    .tariff {
        &__list {
            row-gap: 20px;
        }

        &__item {
            &:nth-child(3) {
                margin-bottom: 30px;

            }
        }

        &__counter-item {
            width: 60px;
            height: 60px;
            margin-right: 24px;
        }

        &__counter-box {
            margin-left: 25px;
        }
    }

    .edge {
        &__subtitle {
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .seo {
        &__tabs-subtitle {
            font-size: 16px;
        }
    }

    .footer {
        &__bottom-inner {
            flex-direction: column;
        }

        &__bottom-text {
            font-size: 12px;
        }
    }

}

@media (max-width:457px) {
    .header {
        &__background {
            min-height: 56rem;
        }
    }

    .hero {
        &__text {
            font-size: 15px;
            font-weight: 500;
            line-height: 21.52px;
            background: url('../image/svg/review__logo.svg') 17% 96%/40% 39% no-repeat;

        }
    }

    .demo {
        &__inner {
            min-height: 360px;
        }

        &__body {
            margin-bottom: 15px;
        }
    }

    .settings {
        &__wrapper {
            padding: 20px;
        }

        &__wrapper-small {
            padding: 20px;
        }
    }
}

.info {
    margin-top: -7.1875rem;
}

.review {
    &__numbers-subtitle {
        font-size: 27px;

        &::before {
            top: 15px;
            width: 0.425rem;
            height: 0.425rem;
        }
    }

    &__numbers-text {
        font-size: 14px;
    }

}





@media (max-width:423px) {
    .header {
        &__background {
            min-height: 56rem;
        }
    }

    .info {
        margin-top: -8.1875rem;
    }

    .hero {
        &__text {
            background: url('../image/svg/review__logo.svg') 22% 96%/40% 39% no-repeat;
        }
    }
}

@media (max-width:400px) {

    .hero {
        &__text {
            background: url('../image/svg/review__logo.svg') 23% 96%/40% 39% no-repeat;
        }
    }

    .tariff {
        &__item-oldprice {
            &::after {
                left: 39%;
            }
        }
    }
}

@media (max-width:382px) {

    .hero {
        &__text {
            background: url('../image/svg/review__logo.svg') 27% 96%/40% 39% no-repeat;
        }
    }
}

@media (max-width:374px) {
    .hero {
        &__text {
            background: url('../image/svg/review__logo.svg') 72% 96%/40% 39% no-repeat;

        }
    }

    .article {
        &__title {
            font-size: 24px;

            & span {
                font-size: 24px;
            }
        }

        &__text {
            font-size: 15px;
        }
    }
}